<h1>Task Manager Pro 3000</h1>

<div class="tasks">

  <h2>Example of task list</h2>

  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.done? ? "[X]" : "[ ]" %>
        <%= task.description %>
        <% if task.due_date %>
          (due <%= task.due_date.strftime("%B %d") %>)
        <% end %>
      </li>
    <% end %>
  </ul>

</div>

<div class="testimonials">

  <h2>What they say about our service</h2>

  <% @testimonials.each do |testimonial| %>
    <div class="testimonial">
      <img src="http://lorempixel.com/150/150/people/<%= testimonial.id %>"><br>
      <div class="name"><%= testimonial.name %></div>
      <div class="position"><%= testimonial.position %></div>
      <quote><%= testimonial.quote %></quote>
    </div>
  <% end %>

</div>
